body {
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: #000000;
    color: white;
}

canvas {
    background-color: rgb(60, 60, 60);
    border: 3px solid white;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    margin: 5px;
    cursor: pointer;
}